*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(8, 16, 51);
}
h2{
  position: relative;
  font-size: 4em;
  letter-spacing: 10px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgb(21, 51, 78));
  line-height: 0.7em;
  outline: none;
  animation: animate 3s linear infinite;
}

/* h2:hover{
  transform: translateY(-20px);
} */

@keyframes animate {
  0%, 18%, 20%, 50.2%, 60%, 65.2%, 80%, 90.2%, 92%{
    color: rgb(21, 51, 78);
    text-shadow: none;
  }
  18.2%, 20.2%, 30%, 50%, 60.2%, 65%, 80.2%, 90%, 92.2%, 100%{
    color: white;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;
  }
}
